
  

<connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebSite-58fabd59-6609-4bb6-b528-bc88b4308ea3;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebSite-58fabd59-6609-4bb6-b528-bc88b4308ea3.mdf;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
    <add name="EatIn"
         connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security = SSPI"
         providerName ="System.Data.SqlClient"/>
  </connectionStrings>